
body{
   margin: 0%;
   padding: 0;
   box-sizing: border-box;
   background-color: #191918;
   max-width: 2560px;
   margin: 0% auto;
}

.title{
   margin: 0px;
   color: white;
   font-size: 3rem;
   font-weight: 900;
}

@media (max-width: 1000px) {
   .title{
      font-size: 2rem;
   } 
}

@media (max-width: 425px) {

   .title{
      font-size: 1.5rem;
   } 

}